<div class="form-group">
  <%= form_with url: '/login' do |form| %>
  <div class="text-field">
    <p class="session-form-title"></p>
      <%= form.text_field :email, type: 'email', class: 'form-control-form', placeholder: 'Email', required: true%>
  </div>

  <div class="password-field">
    <p class="session-form-title"></p>
    <%= form.password_field :password, class: 'form-control-form password', placeholder: 'Password', required: true %>
  </div>

  <div class="submit-field">
    <%= form.submit :'Log in', class: 'btn-lgin', placeholder: 'Login'  %>
  </div>

  <div id="message-login">
    <p class="invalid"><b>Username or Password Incorrect</b></p>
    <strong> <p>Please try again with different values.</p></strong><br>
  </div>

<% end %>
</div>
