<!-- Breadcrubs -->

<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <%= render_breadcrumbs :tag => :li, :separator => " " %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>			
</div>