<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <!-- Elements visible all the time -->
  <%= render 'layouts/navigation/header' %>

  <!-- Elements collapses on smaller devices -->
  <%= render 'layouts/navigation/collapsible_elements' %>

</nav>
