<!-- Feature -->

<div class="feature">
  <div class="feature_background" style="background-image:url(assets/courses_background.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Why Choose Us</h2>
          <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
        </div>
      </div>
    </div>
    <div class="row feature_row">

      <!-- Feature Content -->
      <div class="col-lg-6 feature_col">
        <div class="feature_content">
          <!-- Accordions -->
          <div class="accordions">
            
            <div class="elements_accordions">

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>Award for Best School 2017</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>You’re learning from the best.</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>Degrees recognized worldwide.</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>Encourage students to go global.</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

            </div>

          </div>
          <!-- Accordions End -->
        </div>
      </div>

      <!-- Feature Video -->
      <div class="col-lg-6 feature_col">
        <div class="feature_video d-flex flex-column align-items-center justify-content-center" id="iframeId">
          <div class="feature_video_background" style="background-image:url(assets/video.jpg)"></div>
          <a class="vimeo feature_video_button" href="https://elearning-clases.s3-sa-east-1.amazonaws.com/SampleVideo_1280x720_1mb.mp4" data-toggle="lightbox" data-width="1280" title="Sample video">
          <!-- <a class="vimeo feature_video_button" href="https://coda.io/embed/3NlgnQos5A/_sug1j" data-toggle="lightbox" data-width="2400" data-height="1280" title="Sample video" allowfullscreen > -->
          <!-- <a class="vimeo feature_video_button" href="https://coda.io/embed/LhtvQHwk0U/_su9cw" data-toggle="lightbox" data-width="2400" data-height="1280" title="Sample video" allowfullscreen> -->
          <!-- <a class="vimeo feature_video_button" href="https://elearning-clases.s3-sa-east-1.amazonaws.com/SampleVideo_1280x720_1mb.mp4" data-toggle="lightbox" data-width="2400" data-height="1280" title="Sample video" allowfullscreen > -->
            <img src="assets/play.png" alt="">
          </a>
        </div>
      </div>
      <!-- <div class="course_image">
        <video oncontextmenu="return false" width="100%" height="40%" autoplay="autoplay" controls controlsList="nodownload" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          <source src="https://elearning-clases.s3-sa-east-1.amazonaws.com/SampleVideo_1280x720_1mb.mp4" type="video/mp4" />
        </video>
        <iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed#!cagGzQQA!MNhysfzpuAIgVlAO-EENYxfyUlCv6LDmzUgstlccN8I" allowfullscreen ></iframe>
        <iframe src="https://coda.io/embed/3NlgnQos5A/_sug1j" width=900 height=500 style="max-width: 100%;" allow="fullscreen"></iframe>
      </div> -->
      <div class="course_image">
        <iframe src="https://coda.io/embed/LhtvQHwk0U/_su9cw" width=2400 height=1600 style="max-width: 100%; max-height: 800px" allow="fullscreen"></iframe>
      </div>
    </div>
  </div>
</div>
